@inject AdLoginDemo.Webapp.Services.LoginService _loginService;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AD Login Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap5/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">AD Login Demo</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Privacy">Privacy (nur für Schüler)</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        @if (_loginService.IsAuthenticated)
                        {
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/Login" asp-page-handler="Logout">@_loginService.CurrentUser!.Cn abmelden</a>
                                </li>
                            </ul>

                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom">
        <div class="container pt-3 pb-3">
            &copy; 2021 - AdLoginDemo.Webapp - <a asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap5/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>